@media only screen and (max-width: 600px) {

    .count{
    
    display: grid;
    
    
    
    }
    
    /* h1{
    
    font-size: small;
    
    
    } */
    
    .htag{
    
    font-size: medium;
    
    
    
    }
    
    
    
    }